<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <form role="form" ng-submit="goToRoute()">
                <div class="form-group"
                     style="display:inline-block; min-height:200px;">
                    <div class="well well-sm" ng-model="date">
                        <datepicker min="today" starting-day="1"></datepicker>
                    </div>
                </div>
                <table class="table table-condensed table-hover" id="events">
                    <tr ng-repeat="event in events | filter: atChosenDate"
                        ng-class="{'eventMapMouseOver': selectedVenue != undefined && event.venueID == selectedVenue}"><td>
                        <input type="checkbox" id="event{{event.id}}"
                               ng-model="venues[event.venueID].inTour">
                        <label for="event{{event.id}}"
                               tooltip-html-unsafe="{{event.desc}}">
                            <small>{{event.hours()}}: {{event.venue}}
                            </small>
                        </label>
                    </td></tr>
                </table>
                <button type="submit" class="btn btn-default">Route</button>
            </form>
        </div>
        <div class="col-md-8">
            <google-map center="map.center" zoom="map.zoom" control="map.ctrl">
                <markers events="map.events" models="markers"
                         coords="'self'" doRebuildAll="true"></markers>
            </google-map>
        </div>
    </div>
</div>
