<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div style="display:inline-block; min-height:290px;">
                <div class="well well-sm" ng-model="date">
                    <datepicker min="today" starting-day="1"></datepicker>
                </div>
            </div>
            <accordion close-others="true">
                <accordion-group ng-repeat="event in eventsAt(date)" heading="{{event.hours()}}: {{event.venue}}">
                    <p ng-bind-html="event.desc"></p>
                </accordion-group>
            </accordion>
        </div>
        <div class="col-md-8">
            <leaflet center="center" markers="venuesOfEvents" paths="paths"
                     width="640px" height="480px">Map goes here</leaflet>
        </div>
    </div>
</div>
